In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df_teams = pd.read_csv('basketball_teams.csv')

In [3]:
df_teams.head()

,year,lgID,tmID,franchID,confID,divID,rank,confRank,playoff,name,...,divWon,divLoss,pace,won,lost,games,min,arena,attendance,bbtmID
0,1946,NBA,BOS,BOS,NaN,ED,5,0,NaN,Boston Celtics,...,11,19,0,22,38,60,14500.0,Boston Garden,32767,BOS
1,1946,NBA,CHS,CHS,NaN,WD,1,0,F,Chicago Stags,...,17,8,0,39,22,61,14840.0,Chicago Stadium,0,CHS
2,1946,NBA,CLR,CLR,NaN,WD,3,0,R1,Cleveland Rebels,...,10,14,0,30,30,60,14600.0,Cleveland Arena,0,CLR
3,1946,NBA,DTF,DTF,NaN,WD,4,0,NaN,Detroit Falcons,...,8,16,0,20,40,60,14600.0,Detroit Olympia,0,DTF
4,1946,NBA,NYK,NYK,NaN,ED,3,0,SF,New York Knicks,...,13,17,0,33,27,60,14575.0,Madison Square Garden (III),32767,NYK

In [4]:
df_teams.isnull().sum()

year             0
lgID             0
tmID             0
franchID         0
confID         472
divID           38
rank             0
confRank         0
playoff        635
name             0
o_fgm            0
o_fga            0
o_ftm            0
o_fta            0
o_3pm            0
o_3pa            0
o_oreb           0
o_dreb           0
o_reb            0
o_asts           0
o_pf             0
o_stl            0
o_to             0
o_blk            0
o_pts            0
d_fgm            0
d_fga            0
d_ftm            0
d_fta            0
d_3pm            0
d_3pa            0
d_oreb           0
d_dreb           0
d_reb            0
d_asts           0
d_pf             0
d_stl            0
d_to             0
d_blk            0
d_pts            0
o_tmRebound      0
d_tmRebound      0
homeWon          0
homeLost         0
awayWon          0
awayLost         0
neutWon          0
neutLoss         0
confWon          0
confLoss         0
divWon           0
divLoss          0
pace             0
won              0
lost             0
games            0
min            214
arena          189
attendance       0
bbtmID         220
dtype: int64

In [5]:
df_teams.tail()

,year,lgID,tmID,franchID,confID,divID,rank,confRank,playoff,name,...,divWon,divLoss,pace,won,lost,games,min,arena,attendance,bbtmID
1531,1937,NBL,KNK,KNK,NaN,WE,6,0,NaN,Kankakee Gallagher Trojans,...,0,0,0,3,11,14,NaN,NaN,0,KNK
1532,1937,NBL,OSH,OSH,NaN,WE,1,0,LC,Oshkosh All-Stars,...,0,0,0,12,2,14,NaN,NaN,0,OSH
1533,1937,NBL,PGP,PGP,NaN,EA,3,0,NaN,Pittsburgh Pirates,...,0,0,0,8,5,13,NaN,NaN,0,PTP
1534,1937,NBL,WAR,CWH,NaN,EA,5,0,NaN,Warren Penns,...,0,0,0,3,9,12,NaN,NaN,0,WAR
1535,1937,NBL,WHT,HAM,NaN,WE,2,0,CF,Whiting Ciesar All-Americans,...,0,0,0,12,3,15,NaN,NaN,0,WHT

In [6]:
df_teams.shape

(1536, 60)

In [7]:
df_teams_drop = df_teams.dropna(axis=1)
df_teams_drop

,year,lgID,tmID,franchID,rank,confRank,name,o_fgm,o_fga,o_ftm,...,neutLoss,confWon,confLoss,divWon,divLoss,pace,won,lost,games,attendance
0,1946,NBA,BOS,BOS,5,0,Boston Celtics,1397,5133,811,...,0,0,0,11,19,0,22,38,60,32767
1,1946,NBA,CHS,CHS,1,0,Chicago Stags,1879,6309,939,...,0,0,0,17,8,0,39,22,61,0
2,1946,NBA,CLR,CLR,3,0,Cleveland Rebels,1674,5699,903,...,0,0,0,10,14,0,30,30,60,0
3,1946,NBA,DTF,DTF,4,0,Detroit Falcons,1437,5843,923,...,0,0,0,8,16,0,20,40,60,0
4,1946,NBA,NYK,NYK,3,0,New York Knicks,1465,5255,951,...,0,0,0,13,17,0,33,27,60,32767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,1937,NBL,KNK,KNK,6,0,Kankakee Gallagher Trojans,156,0,88,...,0,0,0,0,0,0,3,11,14,0
1532,1937,NBL,OSH,OSH,1,0,Oshkosh All-Stars,256,0,126,...,0,0,0,0,0,0,12,2,14,0
1533,1937,NBL,PGP,PGP,3,0,Pittsburgh Pirates,179,0,127,...,0,0,0,0,0,0,8,5,13,0
1534,1937,NBL,WAR,CWH,5,0,Warren Penns,121,0,76,...,0,0,0,0,0,0,3,9,12,0
1535,1937,NBL,WHT,HAM,2,0,Whiting Ciesar All-Americans,238,0,144,...,0,0,0,0,0,0,12,3,15,0

In [10]:
df_teams_drop.isnull().sum().sum()

0